.DS_Store

tempCodeRunnerFile
tempCodeRunnerFile.cpp

project.pbxproj
contents.xcworkspacedata
IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
xcschememanagement.plist